/* 
    Code Author asyncfinkd
    Github: http://github.com/asyncfinkd
*/

@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Odibee Sans";
  --medium-rem: 1.4375rem;
  --small-rem: 0.625rem;
  --default-rem: 1.125rem;
  --light-red: #ff6666;
}

.font {
  font-family: var(--font);
}

.game__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--small-rem);
}

.game__container .game__score,
.game__container .game__stage {
  font-size: var(--default-rem);
}

.game__container .game__stage {
  color: var(--light-red);
}

.game__container.container {
  padding-left: var(--medium-rem);
  padding-right: var(--medium-rem);
}
