/* 
    Code Author asyncfinkd
    Github: http://github.com/asyncfinkd
*/

@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
}

:root {
  --font: "Odibee Sans";
  --medium-rem: 1.4375rem;
  --small-rem: 0.625rem;
  --zero: 0;
  --default-rem: 1.125rem;
  --large-rem: 2.25rem;
  --light-red: #ff6666;
  --medium-red: #ff4545;
  --light-gray: #c4c4c4;
  --blue-color: #379fff;
  --white-color: #fff;
  --center: center;
  --width-full: 100%;
  --height-full: 100vh;
  --width-not-full: 97%;
  --light-dark: rgba(0, 0, 0, 0.5);
}

body {
  padding-left: var(--medium-rem);
  padding-right: var(--medium-rem);
}

.font {
  font-family: var(--font);
}

.game__container {
  display: flex;
  justify-content: space-between;
  align-items: var(--center);
  margin-top: var(--small-rem);
}

.game__container .game__score,
.game__container .game__stage {
  font-size: var(--default-rem);
}

.game__container .game__stage {
  color: var(--light-red);
}

.word__container {
  font-size: var(--large-rem);
  margin-top: calc(100px - 75px);
  text-align: var(--center);
}

input {
  border-bottom: 1px solid var(--light-gray);
  font-size: calc(100px - 76px);
  text-align: var(--center);
  display: flex;
  margin: calc(100px - 35px) auto 40px auto;
  width: var(--width-full);
  max-width: var(--width-full);
}

.timer {
  font-size: calc(100px - 64px);
  text-align: var(--center);
}

.modal__container {
  position: fixed;
  top: var(--zero);
  left: var(--zero);
  width: var(--width-full);
  height: var(--height-full);
  background-color: var(--light-dark);
  display: flex;
  align-items: var(--center);
  justify-content: var(--center);
}

.modal__container .modal__box {
  width: 400px;
  display: flex;
  justify-content: var(--center);
  background-color: var(--white-color);
  border-radius: calc(100px - 90px);
  padding-top: calc(100px - 85px);
  padding-bottom: calc(100px - 85px);
  flex-direction: column;
  align-items: var(--center);
}

.modal__container .modal__box h1 {
  font-size: calc(100px - 36px);
  color: var(--medium-red);
}

.modal__container .modal__box .modal__result p {
  font-size: calc(100px - 76px);
}

.modal__container .modal__box .modal__result p:first-child {
  margin-top: calc(100px - 55px);
}

.modal__container .modal__box .modal__result button {
  margin-top: calc(100px - 40px);
}

.modal__container .modal__box .modal__result button {
  margin-top: calc(100px - 40px);
  width: calc(100px + 40px);
  height: calc(20px + 24px);
  border-radius: calc(10px + 10px);
  background-color: var(--blue-color);
  display: flex;
  align-items: var(--center);
  justify-content: var(--center);
  color: var(--white-color);
}
